$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$white: #fff;
$grey-button: rgba(255, 255, 255, 0.25);
$black-header: #181818;
$grey-header: #7b7b7b;
$black-pizza: rgba(0, 0, 0, 0.04);
$orange-sort: rgba(219, 84, 30, 0.507);
$app-color: #b6b6b6;
$app-paragraph: #8d8d8d;
$red: #b42323;
$darkred: #8b0000; 

$form-background-color: #f9f9f9;
$input-border-color: #ccc;
$input-focus-color: #66afe9;
$button-background-color: #28a745;
$button-hover-color: #218838;
$error-color: #e3342f;

$container-width: 90%;

$duration: 0.15s;
